* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    position: fixed;
} */

.l-header__nav {
    display: flex;
    justify-content: space-between;
}

.l-header__ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}

.l-header__li a {
    color: #104188;
    text-decoration: none;
}

.l-header__img-container {
    text-align: center;
}

.l-header__img {
    width: 30px;
    height: 30px;
}

.header-icon {
    width: 50px;
    height: 50px;
}

.l-header__contact-phone {
    border: 3px solid #104188;
    border-radius: 40px;
    color: #104188;
    background: #ffffff;
    display: inline-block;
    font-weight: bold;
    width: 320px;
    height: 70px;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.l-header__contact-phone-icon {
    width: 40px;
    height: 40px;
}

.p-fv {
    margin-left: 65px;
}

.p-fv_items {
    display: flex;
}

.p-fv_txt h2 {
    color: #104188;
    margin-bottom: 20px;
    transform: rotate(-5deg);
}

.p-fv_img {
    width: 100%;
    border-radius: 0 0 0 15px;
}